*.md
.env
.env*
.env.bak
.git
.gitignore
/chromadb
/chromadb/*
__pycache__/
api-test.ps1
api_correspondent.js
api_test_r1.js
apitest.js
dashboard.png
data
data bak/
data_*/
data_bak/
data_bak2/
delete_all.js
docker-compose-dev.yml
docker-compose.yaml
docs
documents.json
icon.png
icon.webp
indexed.conf
indexing_complete.flag
logs/*
main.py.bak
node_modules
npm-debug.log
openai_debug.log
openrouter.js
package-lock.json.bak
paperless-ai-chrome.zip
ppairag.png
prettierrc.json
preview.png
prompt.bak
prompt.txt
public/images/
rag_config.conf
rag_ready.png
RAGZ_README.md
schemas.js
setup.png
test-restriction-service.js
test-updated-service.js